$primary-color: #3a9e94;
$secondary-color: #3e8572;
$font-primair: 'PT Sans Narrow', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    padding: 1em ;
    text-align: left;
    font-family: $font-primair;;
    font-size: 20px;
    background-color: $primary-color;
  
    a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
    font-family: $font-primair;
  }

}

.titel {
  padding: 15px;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 25px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
  color: $secondary-color;
}

#overmij {
  font-size: 16px;
}

#diensten {
  color:black;

}

nav a:hover {
  color: white;
  background-color: $secondary-color;
  padding: 1em;
  text-decoration: none;
  text-align: left;
}

.flex-container > div {
  padding: 15px;
  margin: 5px;
  font-family: $font-primair;
  margin: 25px;
  text-align: center;
}

.flex-container {
  display:flex;
}

.Box-1 {
  flex-direction: column;
  flex: 2;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px grey;
  font-size: 15px;
}

.logo {
  width: 35%;
  margin-left: 50px;
  padding: 2px;
}

.Box-3, .Box-4, .Box-5, .Box-6 {
  flex-direction: column;
  flex: 3;
  background-color: $primary-color;
  box-shadow: 2px 2px 5px grey;
  color: white;
  font-size: 15px;
}


#leesmeer {
  color:white;
  font-family: $font-primair;
  text-decoration: underline;
}

.portretfoto, .trouwfoto, .feestfoto, .doopfeest {
  padding: 10px;
  width: 100%;
}



.portret, .trouwicon, .party, .baby{
  width: 13%;
}

#button {
  background-color: #206957;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
